*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:  linear-gradient(-45deg, rgb(223, 90, 212) 50%,rgb(135, 195, 222) ) 50%;
}
header{
    background: linear-gradient(45deg, rgb(223, 90, 212) 50%,rgb(135, 195, 222) ) 50%;
    position: fixed;
    width: 100%;
    border: solid 2px black;
}

.h1{
    text-align: center;
    font-size: 1.5rem;
    display: none;
}

        
li{
    list-style: none;
}
.a{
    color: black;
    text-decoration: none;
}
.nav-item:nth-child(1){
    padding: 0 25px;
}
.nav-branding{
    color: black;
    font-style: bold;
    font-size: 2.8rem;
    text-decoration: none;
    letter-spacing: 3px;
}
.nav-bar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 24px;
}
.nav-menu, .nav-branding{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    transition: 0.3s;
}
.nav-menu{
    width: 100%;
    padding: 0 130px;
}
.a{
    transition: 0.5s ease;
}
.a:hover{
    color: #A044C5;
    font-style: bold;
}
.burg{
    display: none;
    cursor: pointer;
}


.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: white;

    
}  
.all-divs{
    justify-content: space-between;
    display: flex;
    padding: 90px 90px;
    color: aliceblue;
    gap: 30px;
}

.a-all-divs{
    text-decoration: none;
    color: aliceblue;
    cursor: default;
    text-align: center;
}

.mobile-divmenu{
    background:  linear-gradient(45deg, rgb(223, 90, 212) 50%,rgb(135, 195, 222) ) 50%;
    text-align: center;
    padding: 70px 20px;
    transition: 0.4s ease;
    font-size: 1rem;
    display: none;
}

.nav-item-mobile{
    font-size: 1rem;
    padding: 10px 0;
}


.pic-one{
    width: 243px;
    height: 170px;
    cursor: pointer;
}
.pic-two{
    width: 243px;
    height: 170px;
    cursor: pointer;
}
.pic-three{
    width: 243px;
    height: 170px;
    cursor: pointer;
}

.pic-four{
    width: 243px;
    height: 170px;
    cursor: pointer;
}
.pic-five{
    width: 243px;
    height: 170px;
    cursor: pointer;
}
.pic-six{
    width: 243px;
    height: 170px;
    cursor: pointer;
}


.try{
    text-align: center;
    padding: 500px 0px;
    color: transparent;
}
.footer-div{
    display: flex;
    gap: 30px;
    padding: 20px 40px;
}



.pic-one:hover{
    border: 3px solid transparent;
}
.pic-two:hover{
    border: 3px solid transparent;
}
.pic-three:hover{
    border: 3px solid transparent;
}



/* dropdown  down */

.sizing{
    padding: 55px 0 ;
}
.menu-barmobile{
    background:  linear-gradient(45deg, rgb(223, 90, 212) 50%,rgb(135, 195, 222) ) 50%;;
    text-align: right;
    padding: 0px 70px;
    position: fixed;
    width: 100%;
    display: none;
    transition: 0.5s;
    border: black 2px solid;
}
.menu-drop1-list{
    padding: 10px 1px;
}
.am{
    text-decoration: none;
    color: black;
}
.menu-barmobile.active{
    display: block;
}

/* dropdown menu up */


















@media screen and (min-width: 200px) and (min-height: 400px) and (max-width: 800px) and (max-height: 800px){
    .burg{
        display: block;
        margin: 10px -20px;
    }

    .h1{
        display: block;
    }

    .all-divs{
        display: list-item;
        padding: 0px 80px;
    }
    .one{
        padding: 100px 0px;
    }
    .two{
        padding: 100px 0px;
    }
    .three{
        padding: 100px 0px;
    }
    .four{
        padding: 100px 0px;
    }
    .five{
        padding: 100px 0px;
    }
    .six{
        padding: 100px 0px;
    }


    .burg.active.active .bar:nth-child(2){
        opacity: 0;
    }
    .burg.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burg.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position:  fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: burlywood;
        width: 100%;
        text-align: center;
        transition: 0.5s; 
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.activate{
        left: 0;
    }
    .nav-branding{
        font-size: 26px;
        text-align: center;
    }
    .nav-bar{
        min-height: 50px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0 100px;
    }
   
} 
